$screen-sm: 576px;

@mixin media-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin media-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.flexContainer {
  @include media-min($screen-sm) {
    margin: 2rem;
    width: 35rem;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listItem {
  @include media-min($screen-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
  }
  @include media-max($screen-sm) {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  &:hover {
    background-color: lighten(red, 40%);
  }
}

.button,
.inputField {
  @include media-max($screen-sm) {
    font-size: 1.5rem;
  }
}

.deleteBtn {
  color: red;
  &:hover {
    color: white;
    background-color: red;
  }
}
